#mainbar img {
  max-width: 100px;
  padding: 5px
}

#jumbo {
  background-image: url(img/jumbo-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  top: 96px;
  background-position-x: center;
}

#jumbo .container {
  padding-top: 160px;
}

#jumbo .row {
  height: 100%;
}

#jumbo img {
  width: 100%;
}

#jumbo-games .container {
  padding-top: 150px;
  padding-bottom: 30px;
}

#jumbo-games img {
  max-width: 100%;
  min-width: 150px;
}

#jumbo-games .border-primary:hover {
  border-style: double;
}

#play5 img {
  max-width: 100%;
  padding: 20px;
  cursor: pointer;

}

#play5 .container {
  padding-bottom: 30px;
}

#play5 img:hover {
  opacity: 1 !important;
}

#it-takes-2 {
  background-image: url(img/it-takes-two-hero-banner-desktop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  top: 96px;
  background-position-x: center;
}

#it-takes-2 .row {
  height: 100%;
}

#it-takes-2 img {
  max-width: 80%;
}

#it-takes-2 .container {
  padding: 30px 10px;
}

#new-release {
  position: relative;
  top: 96px;
  padding: 15px 0;
}

#new-release img {
  width: 90%;
  cursor: pointer;
}

#new-release h2 {
  padding: 5px 0;
}

#new-release h3 {
  padding-bottom: 5px;
}

#new-release img:hover {
  opacity: 0.5;
}

#ps4 {
  position: relative;
  top: 96px;
  padding: 35px 0;
}

#ps4 img {
  max-width: 100%;
}

#ps-plus {
  position: relative;
  top: 96px;
}

#ps-plus .col-6:nth-child(1) {
  width: 46%;
}

#ps-plus img {
  max-width: 100%;
}

#ps-plus .col-6:nth-child(1) img {
  max-width: 50%;
  padding-bottom: 30px;
}

#ps-store {
  position: relative;
  top: 96px;
  padding: 35px 0;
}

#ps-store img {
  max-width: 100%;
}

#ps-store img:hover {
  cursor: pointer;
  opacity: 0.5;
}

#ps-now {
  position: relative;
  top: 96px;
  background-color: #021b3f;
}

#ps-now .col-6:nth-child(1) {
  width: 46%;
}

#ps-now img {
  max-width: 100%;
}

#ps-now .col-6:nth-child(1) img {
  max-width: 50%;
  padding-bottom: 30px;
}

#social {
  position: relative;
  top: 96px;
  padding: 35px 0;
}

#social img {
  max-width: 80%;
}






/* media query */

@media screen and (max-width: 992px) {
  .lente {
    display: none;
  }

  #ps4 h1:nth-child(2) {
    font-size: 33px;
  }
}

@media screen and (max-width: 768px) {
  #it-takes-2 {
    text-shadow: 2px 2px 10px black;
  }

  #it-takes-2 img {
    max-width: 60%;
  }

  #new-release {
    text-align: center;
  }


  #ps4 [class*="col-"] {
    padding-bottom: 30px;
  }
}